.desktop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  text-align: center;
}
.status {
  width: 500px;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.title {
  max-width: 200px;
  margin: auto;
  font-size: 20px;
}
.pan {
  width: 700px;
  height: 300px;
  padding:110px 0px 110px 0px;
  margin: 30px auto;
  background-image: url("../images/pan.png");
  background-repeat:no-repeat;
  background-size:100% 100%;
}
.ingredients-container-1 {
  width: 500px;
  height: 80px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.icon {
  width: 80px;
  height: 80px;
}
.cook {
  margin-top: 10px;
}
.ingredient-section {
  margin-top: 20px;
}
.ingredient-title {
  margin-top: 10px;
}
.ingredients-container-2 {
  width: 500px;
  height: 40px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#pork {
  background-image: url("../images/pork.jpg");
  background-repeat:no-repeat;
  background-size:100% 100%;
}
#pepper {
  background-image: url("../images/pepper.png");
  background-repeat:no-repeat;
  background-size:100% 100%;
}

#chicken {
  background-image: url("../images/chicken.jpg");
  background-repeat:no-repeat;
  background-size:100% 100%;
}
#tofu {
  background-image: url("../images/tofu.jpg");
  background-repeat:no-repeat;
  background-size:100% 100%;
}
#fish {
  background-image: url("../images/fish.jpg");
  background-repeat:no-repeat;
  background-size:100% 100%;
}
