<!--The content below is only a placeholder and can be replaced.-->
  <div class="outer-container">
    <div class="container-1">
      <div class="line-1">
        北美硅谷一线工程师在线直播授课，为你打开IT名企的大门
      </div>
      <div class="line-2">
        九章算法已经帮助 30000 + 人成功拿到心仪的Offer
      </div>
      <div class="buttons">
        <div class="btn">VIP集训营</div>
        <div class="btn">课程</div>
        <div class="btn">微课堂</div>
      </div>
    </div>
  </div>

<!--<app-server></app-server>-->
<!--<div app-server> </div>-->
